<div class="card card-login mx-auto mt-5">
  <div class="card-header">Login</div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form'}) do |f| %>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <%= f.email_field :email, autofocus: true, placeholder: "Email", class: 'form-control', id: 'exampleInputEmail1', "aria-describedby" => "emailHelp" %>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control", id: "exampleInputPassword1" %>
      </div>     
      <% if devise_mapping.rememberable? -%>
      <div class="form-group">
        <div class="form-check">
          <label class="form-check-label"><%= f.check_box :remember_me, class: 'form-check-input' %>&nbsp;Remember me</label>
        </div>
      </div>
    <% end -%>
      <a class="btn btn-primary btn-block">Login</a>
    <% end %>
  </div>
</div>
